$white: #ffffff;
$grey100: #f6f7f9;
$grey200: #e7e9eb;
$grey500: #768294;
$black: #303437;

$primary200: #bdb8f9;
$primary400: #645af2;
$primary: #5044f0;
$primary600: #382bee;

$red400: #fb6a6a;
$red500: #fa3f3f;
$red600: #f91b1b;
